<ion-header>
  <ion-toolbar>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="user-profile-card">
    <ion-avatar class="user-avatar">
      <img src="assets/icon/perfil2.png" />
    </ion-avatar>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>User Information</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
        <!-- Add more items here -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
