/* Estilo para ajustar el tamaño de un botón */
.custom-button {
  font-size: 1rem; /* Ajusta el tamaño del icono */
  padding: 5px 20px; /* Ajusta el padding para controlar el tamaño general del botón */
  margin: 0 auto; /* Centra el botón horizontalmente utilizando flexbox */
  max-width: auto; /* Establece un ancho máximo para el botón */
  
}